<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
    <link href="../css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="login-parent">
    <div class="form-wrapper">
        <form action="../controller/login.php" method="post">
            <h2>Мои рецептики</h2>
            <b>Username : </b><input type="text" name="username">
            <p/>
            <b>Password : </b><input type="password" name="password">
            <p/>
            <input id ="submit" type="submit" >
        </form>
    </div>
</div>

</body>
</html>